<div id="fp-divOne">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="ForgotPassword()">
      <div id="fp-divTwo">
        <img src="../../../assets/Google__G__logo.svg.png" alt="GoogleLogo" style="height: 9vh; width: 4vw;">
        <h1 style="margin-top: 2vh;">Forgot Password</h1>
        <p>Use your Google account</p>
      </div>
      <div id="fp-divThree">
        <mat-form-field appearance="outline">
            <mat-label>Email or Phone</mat-label>
            <input matInput placeholder="Email or Phone" formControlName="email">
        </mat-form-field>
        <div id="fp-divFour">
            <a mat-button color="primary" style="border-radius: 4vh;" (click)="GoToLogin()">Sign in</a>
            <button mat-flat-button color="primary" style="border-radius: 4vh;" type="submit">Reset Password</button>
        </div>
      </div>
    </form>
</div>