#divOne{
    height: 100vh; 
    width: 100vw; 
    background-color: lightgray; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}
form{
    height: 60vh; 
    width: 45vw; 
    background-color: white; 
    display: flex;  
    justify-content: space-between;
    border-radius: 4vh;
    padding: 4vh;
}
#divTwo{
    width: 20vw; 
    display: flex;
    flex-direction: column;
}
#divThree{
    width: 25vw; 
    display: flex; 
    flex-direction: column; 
    padding-top: 10vh; 
}
#divFour{
    gap: 1vw;
    display: flex; 
    justify-content: end;
}