.sn-div-3{
    width: 18vw;
    display: flex;
    justify-content: space-between;
}
.icon-btn{
    width: 2.5vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-img{
    width: 1.5vw;
}
.sn-div-opt{
    width: 9vw;
    display: flex;
}
