<div id="rp-divOne">
    <form [formGroup]="resetForm" (ngSubmit)="ResetSubmit()">
      <div id="rp-divTwo">
        <img src="../../../assets/Google__G__logo.svg.png" alt="GoogleLogo" style="height: 9vh; width: 4vw;">
        <h1 style="margin-top: 2vh;">Reset Password</h1>
        <p>Use your Google account</p>
      </div>
      <div id="rp-divThree">
        <mat-form-field appearance="outline">
            <mat-label>Reset Password</mat-label>
            <input matInput placeholder="Reset Password" type="password" formControlName="newPassword">
            <!-- <mat-error *ngIf="resetForm.controls['newPassword'].hasError('required')">
              Password cannot be Empty
            </mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword">
            <!-- <mat-error *ngIf="resetForm.controls['confirmPassword'].hasError('required')">
              Password cannot be Empty
            </mat-error> -->
        </mat-form-field>
        <div id="rp-divFour">
            <!-- <a mat-button color="primary" style="border-radius: 4vh;">Sign in</a> -->
            <button mat-flat-button color="primary" style="border-radius: 4vh;">Reset Password</button>
        </div>
      </div>
    </form>
</div>